{{ define "main" }}
<section class="h-feed">
    {{- $list := where .Site.Pages.ByDate.Reverse ".Params.photos" "!=" nil -}}
	{{ range $index, $value := $list }}
        {{ if eq $index 0 }}
            {{ range first 1 .Params.photos }}
            <style>
                .cover {
                    background: radial-gradient(circle farthest-corner at 80% 20%, hsl(150 80% 20% / .3) 0%, hsl(170 60% 10% / .1) 100%),
                        hsl(231, 32%, 29%) url("{{ . }}") 50% / cover;
                }
            </style>
            {{ end }}
        {{ end }}
	{{ end }}
    {{- $list := where .Site.Pages ".Params.photos" "!=" nil -}}
	{{- $len := (len $list) -}}
	{{ range $index, $value := $list }}
       <article class="h-entry {{ .Date.Format "2006" }}">
            {{ if .Title }}
                <div class="post">
                    <h1 class="p-name">
                        <a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h1>
                    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                        {{ .Date.Format "02 Jan 2006" }}
                    </time>
                    {{ $truncatedContent := .Content | safeHTML | strings.Truncate 300 }}
                    {{ $truncatedContent }}
                    {{ if .Truncated }}
                        <a href="{{ .Permalink }}" class="read-more">Read more</a>
                    {{ end }}
                </div>
            {{ else }}
                <div class="post">
                    <h1 class="p-name">
                        <a class="u-url" href="{{ .Permalink }}">
                            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                                {{ .Date.Format "02 Jan 2006" }}
                            </time>
                        </a>
                    </h1>
                    {{ .Content }}
                </div>
            {{ end }}
        </article>
    {{ end }}
</section>
{{ end }}