{{ define "main" }}
<nav class="hide-sm-flex top-left">
    <p><b>Blog Editions</b></p>
    {{ $posts := where .Site.Pages "Type" "post" }}
    {{ $years := $posts.GroupByDate "2006" }}
    {{ $.Scratch.Set "mostRecentYear" 0 }}
    {{ range $index, $element := $years }}
        {{ if eq $index 0 }}
            {{ $.Scratch.Set "mostRecentYear" $element.Key }}
        {{ end }}
        <a href="archive?year={{ $element.Key }}">{{ $element.Key }}</a>
    {{ end }}
</nav>
<section class="h-feed">
    {{ range where .Site.Pages "Type" "post" }}
       <article class="h-entry {{ .Date.Format "2006" }}">
            {{ if .Title }}
                <div>
                    <h1 class="p-name">
                        <a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h1>
                    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                        {{ .Date.Format "02 Jan 2006" }}
                    </time>
                </div>
            {{ else }}
                <div>
                    <h1 class="p-name">
                        <a class="u-url" href="{{ .Permalink }}">
                            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                                {{ .Date.Format "02 Jan 2006" }}
                            </time>
                        </a>
                    </h1>
                </div>
            {{ end }}
            {{ .Content }}
        </article>
    {{ end }}
</section>
{{ end }}