{{ define "main" }}
<section class="h-feed">
    {{ range where .Pages.ByDate.Reverse "Type" "post" }}
       <article class="h-entry {{ .Date.Format "2006" }}">
            {{ if .Title }}
                <div>
                    <h1 class="p-name">
                        <a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h1>
                    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                        {{ .Date.Format "02 Jan 2006" }}
                    </time>
                </div>
            {{ else }}
                <div>
                    <h1 class="p-name">
                        <a class="u-url" href="{{ .Permalink }}">
                            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                                {{ .Date.Format "02 Jan 2006" }}
                            </time>
                        </a>
                    </h1>
                </div>
            {{ end }}
            {{ .Content }}
        </article>
    {{ end }}
</section>
{{ end }}