{{ define "main" }}
<section class="h-feed">
    {{ range where .Site.Pages "Type" "post" }}
        {{ $matches := findRE "src=\\\"([^\\\"]+)\\\"" .Content 1 }}
        {{ if $matches }}
            {{ $src := index $matches 0 | replaceRE "^src=\\\"|\\\"$" "" }}
                <style>
                    .cover {
                        background: radial-gradient(circle farthest-corner at 80% 20%, hsl(150 80% 20% / .3) 0%, hsl(170 60% 10% / .1) 100%),
                            hsl(231, 32%, 29%) url("{{ $src }}") 50% / cover;
                    }
                </style>
            {{ break }}
        {{ end }}
        {{ if eq (.Date.Format "2006") ($.Scratch.Get "mostRecentYear") }}
        <article class="h-entry">
            {{ if .Title }}
                <div>
                    <h1 class="p-name">
                        <a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h1>
                    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                        {{ .Date.Format "02 Jan 2006" }}
                    </time>
                </div>
            {{ else }}
                <div>
                    <h1 class="p-name">
                        <a class="u-url" href="{{ .Permalink }}">
                            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                                {{ .Date.Format "02 Jan 2006" }}
                            </time>
                        </a>
                    </h1>
                </div>
            {{ end }}
            {{ .Content }}
        </article>
        {{ end }}
    {{ end }}
</section>
{{ end }}